* {
	margin: 0;
	padding: 0;
}

/*navigasi*/
.nav {
	background-color: black;
}

.nav a {
	font-family: "Bookman Old Style";
	font-style: 15px;
	color: #fff;
}

.nav ul {
	list-style: none;
	width: 450px;
	height: 50px;
}

.nav ul a {
	text-decoration: none;
}

.nav ul li {
	float: left;
	width: 150px;
	height: 35px;
	background : black;
	text-align: center;
	padding-top: 15px;
}

.nav ul li:hover {
	background : grey;
}

.nav ul li:hover ul {
	display: block;
}

.nav ul li ul {
	display: none;
	padding-left: 20px;
}

/*artikel*/
.artikel {
	text-align: center;
	font-family: "candara";
	background-color: #ddd;
	font-size: 18px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.artikel h1 {
	font-size: 50px;
	text-align: center;
	font-family: "candara";
}
/*searchbox*/
#searchbox {
	padding: 11.5px 30px;
	background-color: rgb(240, 240, 240);
	border: 2px solid black;
	margin: 15px auto;
	font-size: 15px;
	font-family: "candara";
}

/*buttonsearch*/
#buttonsearch {
	position: relative;
	left: 0px;
	padding: 15px 15px;
	border: 0px solid #008080;
	background-color: black;
	color: #fafafa;
	font-weight: bold;
	font-family: "candara";
	cursor: pointer;
}

#checkbox {
	cursor: pointer;
}

/*hasil*/
.hasil {
	font-size: 18px;
	font-family: "candara";
	background-color: #ddd;
	text-align: justify-all;
	padding-right: 150px;
	padding-left: 150px;
	padding-bottom: 70px;
	padding-top: 30px;
}

.btn {
  	border: none;
  	font-weight: bold;
  	font-family: "candara";
  	color: black;
  	padding: 15px 20px;
  	font-size: 16px;
}

.katadasar {
	background-color: #4CAF50;
} 

.katadasar:hover {
	background-color: #46a049;
}

.relasikata {
	background-color: #2196F3;
}

.relasikata:hover {
	background: #0b7dda;
}

.bttn {
  	border: none;
  	font-weight: bold;
  	font-family: "candara";
  	color: black;
  	padding: 15px 18px;
  	font-size: 16px;
}

.bttnn {
  	border: none;
  	font-family: "candara";
  	color: black;
  	padding: 15px 20px;
  	font-size: 16px;
  	background-color: #ddd;
}

.ragambahasa {
	background-color: #ff9800;
}

.ragambahasa:hover {
	background: #e68a00;
}

.kelaskata {
	background-color: #ff9800;
}

.kelaskata:hover {
	background: #e68a00;
}

.kataserapan {
	background-color: #ff9800;
}

.kataserapan:hover {
	background: #e68a00;
}

/*footer*/
.footer {
	background-color: black;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-right: 20px;
	padding-left: 20px;
}

.footer p {
	color: white;
	font-family: "Bookman Old Style";
	font-size: 15px;
}